%noscript
  :css
    html {
      display: none;
    } 
  %meta{:content => "0.0;url=erros?nojs=1", "http-equiv" => "refresh"}
#banner_principal
  %table{:cellpadding => "0", :cellspacing => "0", :style => "width:500px; margin:10px 0 0 15px"}
    %tbody
      %tr
        %td{:style => "color:#FFFFFF; font-size:30pt; font-family:Tahoma,Arial; letter-spacing:-2px; height:90px; font-weight:bold"}
          Seguros.
      %tr
        %td{:style => "color:#D1F5FF; font-size:12pt; font-weight:normal; line-height:170%; height:145px"}
          %p{:style => "margin-bottom: 10px"}
            Trabalhamos com diversos ramos de seguros, como o automóvel, moto, aluguel, residencial, equipamentos portáteis, 
            vida, empresarial e condomínio. 
          %p{:style => "margin-bottom: 10px"}
            Contate-nos para uma consultoria do melhor tipo de seguro para a sua necessidade.
      %tr
        %td{:style => "height:45px; padding-top:5px"}
          %a{:href => "#{cotacao_path}"}
            %img.transparent{:alt => "Solicite uma cotação", :src => "../assets/bt_scotacao.jpg"}/
#conteudo
  #content_left{:style => "margin: 30px 0 0 15px; border-right: 1px solid #DDD"}
    %table{:cellpadding => "0", :cellspacing => "0", :style => "width: 450px"}
      %tbody
        %tr{:style => "height: 480px"}
          %td{:style => "width:59px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_auto.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %p{:style => "font-weight:bold; color: #4B4B4B"}
              Automóvel
            %p{:style => "color: #69777B; font-size: 14px"}
              O seguro automóvel foi feito para garantir o seu carro, mas também é um seguro 
              que possui inúmeros serviços desenvolvidos especialmente para facilitar o seu 
              dia a dia e deixar você e sua família mais tranquilos. Porque nós sabemos que, 
              no seu carro, o mais importante continua sendo você e quem você quer bem. 
            %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
              Principais coberturas
            %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
              %li Colisão, incêndio ou roubo (básica);
              %li Danos materias ou pessoais a terceiros (opcional);
              %li Acidente pessoal por passageiro (opcional);
              %li Assistência 24 horas para o veículo e passageiros (opcional);
              %li Danos a vidros (opcional);
              %li Carro Reserva (opcional);
        %tr{:style => "height: 396px"}
          %td{:style => "width:59px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_moto.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %p{:style => "font-weight:bold; color: #4B4B4B"}
              Moto
            %p{:style => "color: #69777B; font-size: 14px"}
              Seguro especial para sua motocicleta*. Com praticidade desde a contratação, 
              este seguro garante sua segurança na cidade, na estrada, em qualquer lugar.
              %br/
              %span{:style => "font-size: 10px; font-weight: bold"}
                * Motos acima de 90cc.
            %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
              Principais coberturas
            %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
              %li Colisão, incêndio ou roubo (básica);
              %li Danos a terceiros (opcional);
              %li Assistência 24 horas para a moto e passageiros (opcional);
        %tr{:style => "height: 478px"}
          %td{:style => "width:59px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_fianca.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %p{:style => "font-weight:bold; color: #4B4B4B"}
              Aluguel
            %p{:style => "color: #69777B; font-size: 14px"}
              O seguro aluguel substitui o fiador na locação de imóveis, facilitando a vida de 
              proprietários, inquilinos e imobiliários. Garante o pagamento do aluguel ao 
              proprietário caso o inquilino não pague, e evita o constrangimento em busca de um fiador.
            %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
              Principais coberturas
            %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
              %li Garantia de pagamento do aluguel e multa moratória (básica);
              %li Garantia de pagamento de água, luz, gás canalizado e IPTU (opcional);
              %li Cobertura para danos, pintura interna e externa do imóvel (opcional);
        %tr{:style => "height: 550px"}
          %td{:style => "width:59px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_emp.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %p{:style => "font-weight:bold; color: #4B4B4B"}
              Empresarial
            %p{:style => "color: #69777B; font-size: 14px"}
              Um seguro no qual você encontra coberturas contra incêndio, fumaça e explosão além 
              de várias coberturas opcionais que oferecem proteção para as pequenas e médias empresas. 
              Assim você terá muito mais tempo e segurança para pensar no que realmente importa: 
              o crescimento dos seus negócios. 
            %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
              Principais coberturas
            %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
              %li Incêndio, explosões e fumaça (básica)
              %li Danos elétricos (opcional);
              %li Vendaval / Impacto de veículos (opcional);
              %li Subtração de bens, mercadorias e valores (opcional);
              %li Danos a equipamentos eletrônicos (opcional);
              %li Responsabilidade civil e civil garagista (opcional);
              %li Quebra de vidros (opcional);
  #content_right
    %table{:cellpadding => "0", :cellspacing => "0", :style => "width: 450px"}
      %tbody
        %tr{:style => "height: 480px"}
          %td{:style => "width:66px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_res.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %p{:style => "font-weight:bold; color: #4B4B4B"}
              Residencial
            %p{:style => "color: #69777B; font-size: 14px"}
              Muros, grades e cães protegem sua casa, mas não garantem sua total segurança. Além disso, 
              existem outros imprevistos que podem causar prejuízos, muitas vezes irrecuperáveis. 
              Por isso, mais do que proteger, você precisa garantir seu patrimônio.
            %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
              Principais coberturas
            %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
              %li Incêndio, explosão e fumaça (básica);
              %li Danos elétricos (opcional);
              %li Impacto de veículos (opcional);
              %li Vendaval, furacão, ciclone, tornado e queda de granizo (opcional);
              %li Quebra de vidros (opcional);
              %li Responsabilidade civil familiar (opcional);
              %li Subtração de bens (opcional);
        %tr{:style => "height: 396px"}
          %td{:style => "width:66px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_port.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:name => "equipamentos_portateis"}
            %p{:style => "font-weight:bold; color: #4B4B4B"}
              Equipamentos portáteis
            %p{:style => "color: #69777B; font-size: 14px"}
              Você já pensou em contratar um seguro para seu notebook, smartphone (iPhone, BlackBerry, 
              Android entre outros), iPad ou outros modelos de tablets, e até mesmo câmeras 
              fotográficas e filmadoras e assim, garantir a reposição do equipamento no caso de danos 
              ou sinistros*?
              %br/
              %span{:style => "font-size: 10px; font-weight: bold"}
                * Exceto quanto deixado em veículos.
            %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
              Principais coberturas
            %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
              %li Danos físicos ao bem (básica);
              %li Subtração de bens (opcional);
              %li Garantia internacional (opcional);
              %li Garantias para acessórios (opcional);
              %li Danos elétricos (opcional);
        %tr{:style => "height: 478px"}
          %td{:style => "width:66px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_vida.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:name => "vida"}
            %p{:style => "font-weight:bold; color: #4B4B4B"}
              Vida
            %p{:style => "color: #69777B; font-size: 14px"}
              Um bom seguro de vida é aquele que se preocupa com você também no presente.
              Ao contratar este produto você garante a sua tranquilidade e a proteção de quem 
              mais ama, agora e no futuro.
            %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
              Principais coberturas
            %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
              %li Morte natural e acidental (básica);
              %li Morte acidental em dobro (opcional);
              %li Invalidez permanentemente total ou parcial por acidente (opcional);
              %li Antecipação especial por doença (opcional);
              %li Despesas médico-hospitalares e odontológicas (opcional);
              %li Assistência funeral individual ou familiar (opcional);
              %li Contratação individual, familiar ou em grupo (empresarial);
        %tr{:style => "height: 550px"}
          %td{:style => "width:66px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_condo.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:name => "condominio"}
            %p{:style => "font-weight:bold; color: #4B4B4B"}
              Condomínio
            %p{:style => "color: #69777B; font-size: 14px"}
              O seguro condomínio é ideal para você que gosta de acumular vantagens e não problemas. 
              Além de ser simples de contratar, ele é completo, porque oferece coberturas que protegem 
              o condomínio, o síndico e os colaboradores, além de serviços emergenciais gratuitos, 
              preços e condições de pagamentos vantajosos.
            %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
              Principais coberturas
            %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
              %li Incêndio e explosão, fumaça e queda de aeronaves (básica);
              %li Vendaval e impacto de veículos (opcional);
              %li Danos elétricos (opcional);
              %li Quebra de vidros (opcional);
              %li Subtração de bens ou valores do condomínio (opcional);
              %li Responsabilidade civil condomínio, síndico e guarda de veículos (opcional);
              %li Vida e acidentes pessoais de funcionários (opcional);
              %li Portões, alagamento e desmoronamento (opcional);
/[If IE 7]
  #force_space{:style => "clear: left"}
:javascript
  $(document).ready(function () {
    $("#seguros").css("color", "#FFF");
    checkOldBrowsers();
  });
