#home
  .col-left
    #main
      #mini-features
        %img.home-icon{:alt => "Cotação", :border => "0", :src => "../assets/budget.png", :title => "Cotação"}
        .feature
          %h3 Seguros para você, sua família e empresa
          %p Com mais de 12 anos de experiência no mercado a Bornia e Dianin é uma empresa sólida e respeitada, atuando nos mais diversos ramos de seguros sempre buscamos o melhor produto para o cliente apresentando preço justo, qualidade e um excelente atendimento.
          .hr
          %h4 Escolha um produto abaixo e solicite uma cotação:
          %ul
            %li.img-choice4
              %a{:href => "/seguro-automovel"}
                %img{:alt => "Automóvel", :border => "0", :src => "../assets/cot_auto.png", :title => "Automóvel"}
            %li.img-choice4
              %a{:href => "#"}
                %img{:alt => "Vida Individual", :border => "0", :src => "../assets/cot_vida.png", :title => "Vida Individual"}
            %li.img-choice4
              %a{:href => "#"}
                %img{:alt => "Equipamentos Portáteis", :border => "0", :src => "../assets/cot_port.png", :title => "Equipamentos Portáteis"}
            %li.img-choice4
              %a{:href => "#"}
                %img{:alt => "Outros Ramos", :border => "0", :src => "../assets/cot_outros.png", :title => "Outros Ramos"}

  .col-right
    #column-right
      #content-right
        %h4#budget Cotação
        %ul
          %li 
            %a{:href => "/seguro-automovel"} - Automóvel
          %li 
            %a{:href => "#"} - Vida Individual
          %li 
            %a{:href => "#"} - Equipamentos Portáteis
          %li 
            %a{:href => "#"} - Outros ramos
        %h4#news Notícias e Destaques
        %ul
          %li 
            %a{:href => "#"} - Um corretor ativo para cada 3 mil brasileiros...
          %li 
            %a{:href => "#"} - Corretor sem ética pode ser julgado...
          %li 
            %a{:href => "#"} - Alto índice de assalto reforça necessidade...
          %li 
            %a{:href => "#"} - Quando a falta de documentos vira multa...     
        %h4#tips Perguntas Frequentes
        %ul
          %li 
            %a{:href => "#"} - O que é perda total do veículo?
          %li 
            %a{:href => "#"} - O que é Carro Reserva?
          %li 
            %a{:href => "#"} - O que é danos a terceiros?
          %li 
            %a{:href => "#"} - O que é CASCO?
          %li 
            %a{:href => "#"} - Outras perguntas...
:javascript
  $(document).ready(function(){
    $('.cotacao').css("background-color", "#098FAF");
  });