#home
  .col-left
    #main
      #mini-features
        %img.home-icon{:alt => "Cotação", :border => "0", :src => "../assets/budget.png", :title => "Cotação"}
        .feature
          %h3 Seguros para você, sua família e empresa
          %p Com mais de 12 anos de experiência no mercado a Bornia e Dianin é uma empresa sólida e respeitada, atuando nos mais diversos ramos de seguros sempre buscamos o melhor produto para o cliente apresentando preço justo, qualidade e um excelente atendimento.
          .hr
          %h4 Escolha um produto abaixo e solicite uma cotação:
          %ul
            %li.img-choice4
              =link_to image_tag("../assets/cot_auto.png", {:alt => "Automóvel", :border => "0", :title => "Automóvel"}), budget_auto_path
            %li.img-choice4
              =link_to image_tag("../assets/cot_port.png", {:alt => "Equipamentos Portáteis", :border => "0", :title => "Equipamentos Portáteis"}), budget_portatil_path
            %li.img-choice4
              =link_to image_tag("../assets/cot_outros.png", {:alt => "Outros Ramos", :border => "0", :title => "Outros Ramos"}), "#"
  .col-right
    #column-right
      #content-right
        %h4#budget Cotação
        %ul
          %li 
            =link_to "- Automóvel", budget_auto_path
          %li 
            =link_to "- Equipamentos Portáteis", budget_portatil_path
          %li 
            =link_to "- Outros ramos", budget_other_path
        %h4#links Link's úteis
        %ul
          %li
            %a{:href => "http://www.fipe.org.br/web/indices/veiculos/introducao.aspx", :target => "_blank"} - Tabela FIPE
          %li
            %a{:href => "http://www.sincor.org.br", :target => "_blank"} - Sincor
          %li
            %a{:href => "http://www.susep.gov.br/", :target => "_blank"} - Susep
          %li
            %a{:href => "http://servicos.uol.com.br/detrans.jhtm", :target => "_blank"} - Detrans do Brasil
          %li 
            %a{:href => "http://www.denatran.gov.br", :target => "_blank"} - Denatran
          %li
            %a{:href => "http://www.dprf.gov.br/", :target => "_blank"} - Polícia Rodoviária Federal
        %h4#tips Perguntas Frequentes
        %ul
          %li 
            %a{:href => "#"} - O que é perda total do veículo?
          %li 
            %a{:href => "#"} - O que é Carro Reserva?
          %li 
            %a{:href => "#"} - O que é danos a terceiros?
          %li 
            %a{:href => "#"} - O que é CASCO?
          %li 
            %a{:href => "#"} - Outras perguntas...
:javascript
  $(document).ready(function(){
    $('.cotacao').css("background-color", "#098FAF");
  });