#home
  .col-left
    #main
      #mini-features
        %img.home-icon{:alt => "Portáteis", :border => "0", :src => "../assets/mini_portatil.png", :title => "Portáteis"}
        .feature
          %h3 Seguro de Equipamentos Portáteis
          %p Se você locomove-se com frequência e não pode correr o risco de ficar sem acesso a sua principal ferramenta de trabalho e comunicação, entre em contato conosco e conheça mais este produto.
          %a
            =link_to "Leia mais", budget_portatil_path
        .hr
        %img.home-icon{:alt => "Vida Individual", :border => "0", :src => "../assets/mini_vida.png", :title => "Vida Individual"}
        .feature
          %h3 Seguro de Vida Individual
          %p Um bom seguro de vida é aquele que se preocupa com você também no presente. Ao contratar este produto você garante a sua tranquilidade e a proteção de quem mais ama, agora e no futuro.
          %a
            =link_to "Leia mais", budget_other_path(:type => "vida")
        .hr
        %img.home-icon{:alt => "Condomínio", :border => "0", :src => "../assets/mini_condominio.png", :title => "Condomínio"}
        .feature
          %h3 Seguro Condomínio
          %p Sob medida para condomínios verticais residenciais, comerciais, mistos, de escritórios e/ou consultórios, flats e apart-hotéis, bem como condomínios residenciais horizontais. Com preço acessível e pagamento facilitado, ele oferece inúmeras vantagens.
          %a
            =link_to "Leia mais", budget_other_path(:type => "condominio")
        .hr
  .col-right
    #column-right
      #content-right
        %h4#budget Cotação
        %ul
          %li 
            =link_to "- Automóvel", budget_auto_path
          %li 
            =link_to "- Equipamentos Portáteis", budget_portatil_path
          %li 
            =link_to "- Outros ramos", budget_other_path
        %h4#links Link's úteis
        %ul
          %li 
            %a{:href => "http://www.fipe.org.br/web/indices/veiculos/introducao.aspx", :target => "_blank"} - Tabela FIPE
          %li 
            %a{:href => "http://www.sincor.org.br", :target => "_blank"} - Sincor
          %li 
            %a{:href => "http://www.susep.gov.br/", :target => "_blank"} - Susep
          %li 
            %a{:href => "http://servicos.uol.com.br/detrans.jhtm", :target => "_blank"} - Detrans do Brasil
          %li 
            %a{:href => "http://www.denatran.gov.br", :target => "_blank"} - Denatran
          %li
            %a{:href => "http://www.dprf.gov.br/", :target => "_blank"} - Polícia Rodoviária Federal
        %h4#tips Perguntas Frequentes
        %ul
          %li 
            %a{:href => "#"} - O que é perda total do veículo?
          %li 
            %a{:href => "#"} - O que é Carro Reserva?
          %li 
            %a{:href => "#"} - O que é danos a terceiros?
          %li 
            %a{:href => "#"} - O que é CASCO?
          %li 
            %a{:href => "#"} - Outras perguntas...
:javascript
  $(document).ready(function(){
    $('.home').css("background-color", "#098FAF");
  });