#banner_principal
  %table{:cellpadding => "0", :cellspacing => "0", :style => "width:500px; margin:10px 0 0 15px"}
    %tbody
      %tr
        %td{:style => "color:#FFFFFF; font-size:30pt; font-family:Tahoma,Arial; letter-spacing:-2px; height:90px; font-weight:bold"}
          Seguros.
      %tr
        %td{:style => "color:#D1F5FF; font-size:12pt; font-weight:normal; line-height:170%; height:145px"}
          %p{:style => "margin-bottom: 10px"}
            Trabalhamos com diversos ramos de seguros, como o automóvel, moto, aluguel, residencial, equipamentos portáteis, 
            vida, empresarial e condomínio. 
          %p{:style => "margin-bottom: 10px"}
            Contate-nos para uma consultoria do melhor tipo de seguro para a sua necessidade.
      %tr
        %td{:style => "height:45px; padding-top:5px"}
          %a{:href => ""}
            %img.transparent{:alt => "Solicite uma cotação", :src => "../assets/bt_scotacao.jpg"}/
#conteudo
  #content_left{:style => "margin: 30px 0 0 15px"}
    %table{:cellpadding => "0", :cellspacing => "0", :style => "width: 450px"}
      %tbody
        %tr{:style => "height: 480px"}
          %td{:style => "width:59px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_auto.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:href => ""}
              %p{:style => "font-weight:bold"}
                Automóvel
              %p{:style => "color: #69777B; font-size: 14px"}
                O seguro automóvel foi feito para garantir o seu carro, mas também é um seguro 
                que possui inúmeros serviços desenvolvidos especialmente para facilitar o seu 
                dia a dia e deixar você e sua família mais tranquilos. Porque nós sabemos que, 
                no seu carro, o mais importante continua sendo você e quem você quer bem. 
              %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
                Principais coberturas
              %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
                %li Procuramos a melhor seguradora de acordo com seu perfil;
                %li Atendimento personalizado e 24 horas no caso de sinistros;
                %li Vistoria no melhor local para o segurado;
                %li Parcelamento do seguro em até 6x sem juros e até 12x com juros;
        %tr{:style => "height: 396px"}
          %td{:style => "width:59px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_moto.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:href => ""}
              %p{:style => "font-weight:bold"}
                Moto
              %p{:style => "color: #69777B; font-size: 14px"}
                O seguro moto* foi feito para garantir sua segurança na cidade, na estrada, em qualquer lugar. 
                %br/
                %span{:style => "font-size: 10px; font-weight: bold"}
                  * Motos acima de 90cc.
              %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
                Principais coberturas
              %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
                %li Procuramos a melhor seguradora de acordo com seu perfil;
                %li Atendimento personalizado e 24 horas no caso de sinistros;
                %li Vistoria no melhor local para o segurado;
                %li Parcelamento do seguro em até 6x sem juros e até 12x com juros;
                %li Danos a terceiros;
        %tr{:style => "height: 478px"}
          %td{:style => "width:59px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_fianca.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:href => ""}
              %p{:style => "font-weight:bold"}
                Aluguel
              %p{:style => "color: #69777B; font-size: 14px"}
                O seguro fiança locatícia substitui o fiador na locação de imóveis, 
                facilitando a vida de proprietários, inquilinos e imobiliários. 
                Garante o pagamento do aluguel ao proprietário caso o inquilino não pague, 
                e evita o constrangimento em busca de um fiador.
              %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
                Principais coberturas
              %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
                %li Fim do constrangimento pela procura de um fiador (Inquilino);
                %li Garantia de locação (Proprietário);
                %li Certeza do recebimento do aluguel, caso o inquilino não pague (Proprietário);
                %li Cobertura adicional para danos, pintura interna e externa (Proprietário);
                %li Garantia do recebimento de aluguéis para os clientes (Imobiliária);
        %tr{:style => "height: 422px"}
          %td{:style => "width:59px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_emp.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:href => ""}
              %p{:style => "font-weight:bold"}
                Empresarial
              %p{:style => "color: #69777B; font-size: 14px"}
                Fique despreocupado com possíveis imprevistos na sua empresa, 
                seja ela de pequeno, médio ou grande porte. Oferecemos várias 
                opções de planos e garantias para contratação. 
              %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
                Principais coberturas
              %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
                %li Incêndio, queda de raio e explosão;
                %li Roubo ou furto de bens;
                %li Responsabilidade civil;
                %li Danos elétricos;
                %li Despesas extraordinárias em sinistro coberto;
                %li Assistência 24 horas e serviço especiais para auxiliar em situações de emergência;
  #content_right
    %table{:cellpadding => "0", :cellspacing => "0", :style => "width: 450px"}
      %tbody
        %tr{:style => "height: 480px"}
          %td{:style => "width:66px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_res.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:href => ""}
              %p{:style => "font-weight:bold"}
                Residencial
              %p{:style => "color: #69777B; font-size: 14px"}
                Muros, grades e cães protegem sua casa, mas não garantem sua total segurança. Além disso, 
                existem outros imprevistos que podem causar prejuízos, muitas vezes irrecuperáveis. 
                Por isso, mais do que proteger, você precisa garantir seu patrimônio.
              %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
                Principais coberturas
              %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
                %li Incêndio, queda de raio e explosão;
                %li Roubo ou furto de bens;
                %li Responsabilidade civil dos moradores do imóvel;
                %li Vendaval e granizo;
                %li Danos elétricos;
                %li Quebra de vidros;
                %li Reparos hidráulicos e elétricos;
                %li Conserto de geladeira, freezer, máquinas de lavar, forno de microondas entre outros;
        %tr{:style => "height: 396px"}
          %td{:style => "width:66px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_port.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:href => ""}
              %p{:style => "font-weight:bold"}
                Equipamentos portáteis
              %p{:style => "color: #69777B; font-size: 14px"}
                Você já pensou em contratar um seguro para seu notebook, smartphone 
                (iPhone, BlackBerry, Android, entre outros), iPad ou outros modelos de tablets, 
                e até mesmo câmeras fotográficas e filmadoras e assim, garantir a reposição do 
                equipamento no caso de danos ou roubos*?
                %br/
                %span{:style => "font-size: 10px; font-weight: bold"}
                  * Exceto quanto deixado em veículos.
              %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
                Principais coberturas
              %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
                %li Subtração de bens;
                %li Danos elétricos;
                %li Garantias internacionais;
                %li Garantias para acessórios;
        %tr{:style => "height: 478px"}
          %td{:style => "width:66px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_vida.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:href => ""}
              %p{:style => "font-weight:bold"}
                Vida
              %p{:style => "color: #69777B; font-size: 14px"}
                Um bom seguro de vida é aquele que se preocupa com você também no presente. 
                Ao contratar este produto você garante a sua tranquilidade e a 
                proteção de quem mais ama, agora e no futuro. 
              %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
                Principais coberturas
              %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
                %li Morte natural e acidental;
                %li Invalidez permanentemente total ou parcial por acidente;
                %li Invalidez permanentemente total por doença;
                %li Despesas médico-hospitalares por acidente;
                %li Doenças graves;
                %li Assistência funeral;
                %li Contratação individual ou em grupo (empresarial);
        %tr{:style => "height: 422px"}
          %td{:style => "width:66px; vertical-align:top; text-align:center"}
            %img{:alt => "", :src => "../assets/ins_condo.jpg", :style => "margin-top:5px"}/
          %td{:style => "vertical-align:top; padding-bottom:20px"}
            %a{:href => ""}
              %p{:style => "font-weight:bold"}
                Condomínio
              %p{:style => "color: #69777B; font-size: 14px"}
                Sob medida para condomínios verticais residenciais, comerciais, mistos, 
                de escritórios e/ou consultórios, flats e apart-hotéis, bem como condomínios 
                residenciais horizontais. Com preço acessível e pagamento facilitado, ele oferece 
                inúmeras vantagens.
              %p{:style => "color: #69777B; margin: 10px 0 10px 0; font-size: 14px; font-weight: bold"}
                Principais coberturas
              %ul{:style => "color: #69777B; margin: 5px 0 0 15px; font-size: 14px"}
                %li Incêndio, queda de raio e explosão;
                %li Roubo ou furto de bens do condomínio;
                %li Responsabilidade civil;
                %li Danos materiais de causa extrema;
                %li Danos elétricos;
                %li Quebra de vidros;
                %li Alagamento e inundação;
:javascript
  $(document).ready(function () {
    $("#seguros").css("color", "#FFF");
  });