#budget-mailer
  %p
    Olá, o cliente #{@budget_portatil[:name]} esta solicitando uma cotação de seguro de equipamentos portáteis, segue os dados informados para cotação abaixo:
  %br
  %table{:border => 1, :width => 800, :cellspacing => 0, :cellpadding => 0}
    %tr
      %th{:colspan => 6} DADOS DO CLIENTE
    %tr
      %td{:width => 100, :bgcolor => "#F1F1F1"} Nome completo:
      %td{:width => 200} 
        =@budget_portatil[:name]
      %td{:width => 100, :bgcolor => "#F1F1F1"} CPF:
      %td{:width => 200} 
        =@budget_portatil[:cpf]
      %td{:width => 100, :bgcolor => "#F1F1F1"} Data de nascimento:
      %td{:width => 200} 
        =@budget_portatil[:birth]
    %tr
      %td{:bgcolor => "#F1F1F1"} E-mail:
      %td{:colspan => 2}
        =@budget_portatil[:mail]
      %td{:bgcolor => "#F1F1F1"} Telefone de contato:
      %td{:colspan => 2}
        =@budget_portatil[:phone]
    %tr
      %th{:colspan => 6} DADOS DO APARELHO
    %tr
      %td{:bgcolor => "#F1F1F1"} Tipo do aparelho:
      %td{:colspan => 2}
        =@budget_portatil[:device_type]
      %td{:bgcolor => "#F1F1F1"} Marca/Modelo:
      %td{:colspan => 2}
        =@budget_portatil[:maker]
    %tr
      %th{:colspan => 6} DADOS DA NOTA FISCAL
    %tr
      %td{:bgcolor => "#F1F1F1"} Data de emissão:
      %td{:colspan => 2}
        =@budget_portatil[:nf_date]
      %td{:bgcolor => "#F1F1F1"} Valor (R$):
      %td{:colspan => 2}
        =@budget_portatil[:nf_value]
    %tr
      %th{:colspan => 6} OUTRAS INFORMAÇÕES
    %tr
      %td{:bgcolor => "#F1F1F1"} Prefere ser contatado de que forma?
      %td{:colspan => 2}
        = @budget_portatil[:contact]
      %td{:bgcolor => "#F1F1F1"} Comentários adicionais:
      %td{:colspan => 2}
        = @budget_portatil[:obs]