*
  margin: 0
  padding: 0
  font-family: Ubuntu, "UbuntuRegular", sans-serif

ul
  li
    list-style: none
  list-style: none

a
  &:link, &:visited, &:hover, &:active
    color: #000000
    text-decoration: none

div.hr
  background: url(hr.png) repeat-x top left
  height: 1px
  margin: 15px 0

label.error
  color: red
  font-size: 15px
  padding-left: 5px
  vertical-align: middle

#message
  border: 1px solid green
  font-size: 14px
  padding: 0 5px 0 5px

#wrapper
  min-height: 80%
  height: auto !important
  height: 100%
  background: #F6F6F6
  position: relative

#header
  background: none repeat scroll 0 0 white
  height: 98px
  position: relative
  z-index: 2

#header .wrapper
  width: 950px
  padding-top: 10px
  position: relative

#header #logo
  float: left

#header .header_menu
  float: right
  position: relative
  z-index: 1
  padding-top: 15px

.wrapper
  width: 950px
  margin: 0 auto

.menu
  background: #0970A0 none
  height: 48px
  border-bottom: 1px solid #098FAF

.menu ul
  background: url(menu_delimetr.png) no-repeat 100% 0
  padding: 0 2px 0 0
  overflow: hidden
  height: 48px
  float: left

.menu li
  line-height: 48px
  float: left
  background: url(menu_delimetr.png) no-repeat 0 0
  padding: 0 0 0 1px

.menu li a
  color: white
  display: block    
  font-size: 11px
  font-weight: normal
  height: 48px
  line-height: 48px
  padding: 0 25px
  text-decoration: none
  text-transform: uppercase

// Slider
#slider-wrapper
  background: #0970A0 none
  height: 115px

#slider-box
  width: 950px
  height: 135px
  margin: 0 auto  

#sliders div
  width: 950px
  height: 115px

.bx-pager
  text-align: center

.bx-pager a
  font-size: 10px
  color: #CCCCCC
  padding: 0 10px
  line-height: 25px

// Footer
#footer
  margin: 0px auto 0
  height: 130px
  background-color: #F6F6F6
  min-width: 950px
  border-top: 1px solid #BEBEBE
  clear: both

#footer .wrapper
  width: 950px
  padding: 10px 0 0

#footer-menu
  position: relative

#footer-menu > li
  width: 190px
  float: left

#footer-menu > li > h4
  display: block
  height: 19px
  margin: 15px 0 5px 0
  background-repeat: no-repeat
  background-position: left top
  font-size: 14px

#footer-menu ul li > a
  font-family: Arial
  font-size: 12px
  color: #666
  text-decoration: none
  font-weight: normal

#footer-menu ul li > a:hover
  text-decoration: underline

#copyright
  clear: both
  font-size: 11px
  padding-top: 10px
  text-align: center
  color: #CCCCCC

// Home
#home
  width: 940px
  margin: 50px auto

.col-left
  float: left

.col-right
  float: right

#main
  width: 570px

#mini-features img.home-icon
  float: left
  padding: 0

#home .feature
  margin-left: 65px

#home .feature h3
  font-size: 14px
  font-weight: normal
  text-transform: uppercase

#home .feature h4
  font-size: 12px
  font-weight: bold

#home .feature p
  font-size: 13px
  line-height: 20px
  padding: 10px 0
  text-align: justify

#home .feature a
  font-size: 12px
  color: #0970A0
  text-decoration: none

#home .feature a:hover
  font-size: 12px
  text-decoration: underline
  color: #0970A0

#column-right
  width: 300px
  overflow: hidden

#content-right
  padding: 10px
  border-left: 1px solid #CCCCCC

#content-right h4#tips
  background: url(ico-question.png) no-repeat left 3px
  font-size: 12px
  font-weight: normal
  padding-left: 30px
  text-transform: uppercase
  border-bottom: 1px dotted #CCCCCC
  line-height: 30px

#content-right h4#links
  background: url(ico-link.png) no-repeat left 3px
  font-size: 12px
  font-weight: normal
  padding-left: 30px
  text-transform: uppercase
  border-bottom: 1px dotted #CCCCCC
  line-height: 30px

#content-right h4#budget
  background: url(ico-budget.png) no-repeat left 3px
  font-size: 12px
  font-weight: normal
  padding-left: 30px
  text-transform: uppercase
  border-bottom: 1px dotted #CCCCCC
  line-height: 30px

#content-right ul
  clear: both
  padding: 5px 0

#content-right ul li
  padding: 5px 0 0 0
  line-height: 20px
  font-weight: bold
  font-size: 11px

#content-right ul li a
  color: #0970A0

#content-right ul li a:hover
  color: #636363

// Budget
.img-choice4
  padding-top: 20px
  float: left
  width: 105px

// Budget-auto
#home .col-left #main h2
  font-weight: normal
  font-size: 18px

#home .col-left #main p
  font-size: 13px
  line-height: 20px
  padding: 10px 0

#home .col-left #main ul li
  font-size: 13px
  padding: 5px 0 0 20px

#home .col-left #main table
  font-size: 12px
  width: 100%
  color: #555555

#home .col-left #main table tr th
  line-height: 25px
  text-align: left
  background-color: #FFFFFF
  border: 1px solid #DDDDDD

#home .col-left #main table tr td
  line-height: 25px
  font-weight: bold
  background-color: #F1F1F1
  border: 1px solid #DDDDDD

.alignright
  float: right
  margin-left: 10px