!!!
%html
  %head
    %title Bornia e Dianin Corretora de Seguros
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #header
        .wrapper
          %a#logo{:href => "http://bdseguros.com.br/"}
            %img{:alt => "BDSeguros", :border => "0", :src => "../assets/logo.png", :title => "BDSeguros"}
          .header_menu
            %img{:alt => "Telefone", :border => "0", :src => "../assets/phone.png", :title => "Telefone (44) 3233-2184 ou (44) 3232-1896"}
      .menu
        .wrapper
          %ul
            %li 
              %a{:href => "/", :class => "home"} Home
            %li 
              %a{:href => "#"} Quem somos
            %li 
              %a{:href => "#"} Seguros
            %li 
              %a{:href => "#"} Sinistros
            %li 
              %a{:href => "#"} Seguradoras            
            %li 
              %a{:href => "/cotacao", :class => "cotacao"} Cotação
            %li 
              %a{:href => "#"} Glossário
            %li 
              %a{:href => "#"} Contato
      #slider-wrapper
        #slider-box
          #sliders
            %div
              =link_to image_tag("../assets/slide_auto.png", {:alt => "Seguro Automóvel", :border => "0", :title => "Seguro Automóvel"}), budget_auto_path
            %div
              =link_to image_tag("../assets/slide_casa.png", {:alt => "Seguro Residência", :border => "0", :title => "Seguro Residência"}), "#"
            %div
              =link_to image_tag("../assets/slide_emp.png", {:alt => "Seguro Empresa", :border => "0", :title => "Seguro Empresa"}), "#"
    = yield
    #footer
      .wrapper
        %ul#footer-menu
          %li
            %h4 Seguros
            %ul
              %li
                %a{:href => "#"} Para você
              %li
                %a{:href => "#"} Para sua empresa
          %li
            %h4 Sinistros
            %ul
              %li
                %a{:href => "#"} Atendimento a sinistros
          %li
            %h4 Seguradoras
            %ul
              %li
                %a{:href => "#"} Nossos parceiros
          %li
            %h4 Outros links
            %ul
              %li
                %a{:href => "#"} Quem somos
              %li
                =link_to "Cotação", budget_path
              %li
                %a{:href => "#"} Glossário
          %li
            %h4 Contato
            %ul
              %li
                %a{:href => "#"} Fale conosco
            %ul
              %li
                %a{:href => "#"} Trabalhe conosco
      #copyright
        Copyright © 1998-2012 Bornia e Dianin Corretora de Seguros. Todo o conteúdo deste site é de uso exclusivo.
:javascript
  $(document).ready(function(){
    $('#sliders').bxSlider({
      randomStart: true,
      mode: 'fade',
      pager: true,
      auto: true,
      pause: 5000,
      controls: false
    });
  });